.page-header__box {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.page-header {
   padding-top: 15px;
   padding-bottom: 15px;
}

.mobile-menu-button {
   background-color: transparent;
   border: none;
   padding: 0;
}
@media screen and (max-width: 767px) {
   .nav__list {
      display: none;
   }
   .contact__box {
      display: none;
   }
   .page-header {
   padding-top: 10px;
   padding-bottom: 10px;
}
}