@media screen and (max-width: 767px) {
   .page-header__box {
      
   }
}

.page-header {
   padding-top: 15px;
   padding-bottom: 15px;
   margin-left: auto;
}
.page-header__box {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.mobile-menu-button {
   background-color: transparent;
   border: none;
   padding: 0;
}
