:root {
   --brand-color: #212121;
   --second-color: #757575;
   --basic-color: #ffffff;
   --hover-color: #2196f3;
   --background: #2f303a;
   --background-hover: #188ce8;
   --background-second: #f5f4fa;
   --border-header-color: #ececec;
   --border-color: #eeeeee;
   --second-border-color: #afb1b8;
   --background-social-color: rgba(255, 255, 255, 0.1);
   --background-prtfolio-color: rgba(33, 150, 243, 0.9);
   --background-work-text-color: rgba(47, 48, 58, 0.8);
}